<div class="custom-box">
  <div class="header">
    <div>
      <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548168325/nd2019/heart_1.png', alt: "heart", id: "heart_1" %>
      <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548168391/nd2019/heart_2.png', alt: "heart", id: "heart_2"  %>
      <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548168392/nd2019/heart_3.png', alt: "heart", id: "heart_3"  %>
    </div>
    <div class="header-title">
      <span>NORA </span>
      <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548168854/nd2019/noun_wedding_rings_556715.svg', alt: "wedding-rings" %>
      <span> DAVID | BERLIN 2019</span>
    </div>
    <p>Wenn ihr uns etwas schenken möchtet, dann würden wir uns über einen Beitrag zu unseren Flitterwochen freuen. Ein paar andere Dinge, mit denen ihr uns eine Freude machen könnt, findet ihr hier. </p>
  </div>
  <div class="content">
    <div class="gifts-available">
      <div class="list">
        <% if @available_presents.empty? %>
          <h2 class="thin-font-weight no-top-margin">Alle Geschenke sind leider schon reserviert.</h2>
        <% else %>
          <p class="regular-font-weight increase-margin-mobile">Diese Geschenke sind noch nicht vergeben:</p>
          <div>
            <% @available_presents.each do |present| %>
              <div class="list-item">
                <div class="image-div" style="background-image: url('<%= cl_image_path present.photo %>');">
                </div>
                <div class="gift-content">
                  <h2><%= present.title %></h2>
                  <a href="<%= present.link %>" target="_blank" >
                    <i class="fas fa-heart"></i>
                    <span>Link zum Geschenk</span>
                  </a>
                  <br>
                  <div class="modal-btn" data-toggle="modal" data-target="#reserveModal_<%= present.id %>">
                    <%= link_to '#' do %>
                      <i class="far fa-check-square"></i>
                      <span>Geschenk für mich reservieren</span>
                    <% end %>
                  </div>
                  <%= render 'components/reserve_modal', present: present %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <% unless @taken_presents.empty? %>
          <p class="margin-top-30 regular-font-weight mobile-margin-top-100">Diese Geschenke werden schon verschenkt:</p>
          <div>
            <% @taken_presents.each do |present| %>
              <div class="list-item reserved">
                <div class="image-div" style="background-image: url('<%= cl_image_path present.photo %>');">
                </div>
                <div class="gift-content">
                  <h2><%= present.title %></h2>
                  <%= link_to '#' do %>
                    <i class="fas fa-heart"></i>
                    <span>Link zum Geschenk</span>
                  <% end %>
                  <br>
                  <div class="reserved-message">
                    <i class="fas fa-check-square"></i>
                    <span>Dieses Geschenk wird verschenkt!</span>
                  </div>
                </div>
                <div class="modal-btn" data-toggle="modal" data-target="#unreserveModal_<%= present.id %>">
                  <a href="#">
                    <span class="unreserve-link">Reservierung zurückziehen?</span>
                  </a>
                </div>
              </div>
            <% end %>
          </div>
          <% @taken_presents.each do |present| %>
            <%= render 'components/unreserve_modal', present: present %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
  <div class="footer">
    <div>
      <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548168325/nd2019/heart_1.png', alt: "heart"%>
      <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548168391/nd2019/heart_2.png', alt: "heart"%>
      <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548168392/nd2019/heart_3.png', alt: "heart"%>
    </div>
    <div class="footer-title">
      <span>NORA </span>
      <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548168854/nd2019/noun_wedding_rings_556715.svg', alt: "wedding-rings", id: "small-rings" %>
      <span> DAVID | BERLIN 2019</span>
    </div>

  </div>
</div>
