<div class="container">
  <div class="error-flexbox">
    <h2>Oh, da ist etwas schief gelaufen :(</h2>
    <h2 class="regular-font-weight">'<%= @present.title %>' wurde gerade von einem anderen Gast reserviert!</h2>
    <h2>Tut uns wirklich Leid, vielleicht findet sich unter den anderen Geschenken ja noch etwas.</h2>
    <%= link_to 'Zurück zur Startseite', root_path, class:'btn-first-choice margin-top-30' %>
    <div class="footer">
      <div>
        <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548430579/nd2019/heart_1.1.png', alt: "heart"%>
        <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548430579/nd2019/heart_2.1.png', alt: "heart"%>
        <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548430579/nd2019/heart_3.1.png', alt: "heart"%>
      </div>
      <div class="footer-title">
        <span>NORA </span>
        <%= image_tag 'https://res.cloudinary.com/dqxb19mjv/image/upload/v1548168854/nd2019/noun_wedding_rings_556715.svg', alt: "wedding-rings", id: "small-rings" %>
        <span> DAVID | BERLIN 2019</span>
      </div>
    </div>
</div>
